.offset-top-bar {
    margin-top: 60px;
}

.margin-hor-10 {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-color: #252525;
}

.text-red {
    color: #F25F5C;
}

.cgt {
    background-color: transparent !important;
    border-color: #F25F5C !important;
}

.custom-nav {
    background-color: #252525;
}

.custom-in-text {
    background-color: transparent;
    border-color: transparent;
    color: white;
    margin-left: 55px;
}

.custom-in-text:focus {
    background-color: transparent;
    color: white;
}

.site-badge{
    margin-left: 10px;
    color: white;
}

.custom-card {
    background-color: #424242;
    color: white;
}

.custom-list-grop-item {
    background-color: transparent;
    color: white;
}

a {
    color: #F25F5C;
}

a:hover {
    color: #c7302d;
}

a:visited {
    color: #a5413f;
}

.card-bottom {
    margin-bottom: 5px;
}


.red-border {
    border-color: #F25F5C !important;
}

.btn-red:hover {
    color:#c7302d !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.focus-parent div:focus-within {
    border: 2px solid #F25F5C !important;
    box-shadow: 0 1px 1px rgba(242, 95, 92, 0.075) inset, 0 0 8px rgba(242, 95, 92, 0.6);
  }

textarea,input {
    caret-color: white;
}

/* fucking css, this is required to hide a white border blink on the input field*/
textarea:visited, textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus input:active {  
    border: 0px solid transparent!important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}