/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.discovery {
  background-image: url('../../static/img/top_img.jpg');
  background-repeat: no-repeat;
  min-height: 85vh;
  background-size: cover;
  background-position: center center;
}

.discovery input {
  width: 100%;
  height: 50px;
  border: 2px solid white;
  border-radius: 30px;
  background: url('../../static//icons/search.svg') no-repeat scroll 10px 10px;
  padding-left:50px;
  color: white;
  font-size: 1.5em;
}
