.custom-card {
    background-color: #1e1e1e;
    color: white;
}

.custom-list-grop-item {
    background-color: transparent;
    color: white;
}

a {
    color: #F25F5C;
}

a:hover {
    color: #c7302d;
}

a:visited {
    color: #a5413f;
}

.card-bottom {
    margin-bottom: 5px;
}

.anime-cover{
    height: 250px;
}