.features {
  display: flex;
  align-items: center;
  width: 98%;
  background-color: #242526;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 2px #000000;
}

.featureSvg {
  text-align: center;
  height: 60px !important;
  font-size: 3em !important;
}

.big_title {
  font-size: 3em;
  text-align: center;
}

.focus_paragraph {
  font-size: large;
  text-align: center;
}