.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  text-align: center;
  height: 60px !important;
  font-size: 3em !important;
}

.big_title {
  font-size: 3em;
  text-align: center;
}

.focus_paragraph {
  font-size: large;
  text-align: center;
}