.search_container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search_container_topbar_input {
    width: 100%;
    height: 40px;
    border: 2px solid white;
    border-radius: 30px;
    background: url('../../static//icons/search.svg') no-repeat scroll 10px 5px;
    padding-left:50px;
    color: white;
    font-size: 1em;
  }

.search_container_btn {
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.search_container_btn span {
    font-size: 2.2em;
}


@media screen and (max-width: 900px) {
    .card {
        width: 100%;
    }

    .filter_box {
        width: 50%;
    }
}

@media screen and (min-width:900px) and (max-width:1400px) {
    .card {
        width: 50%;
    }
    .filter_box {
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .card {
        width: 33%;
    }
    .filter_box {
        width: 25%;
    }
}

.card_body {
    background-color: #242526;
    border-radius: 5px;
    margin: 5px;
    height: 250px;
    display: flex;
    overflow: hidden;
}

.filter_box {
    padding: 2px;
}

.card_side {
    width: 100%;
    margin: 10px;
    position: relative;
}

.card_body img {
    height: 100%;
    min-width: 150px;
}

.card_body span {
    text-align: center;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.desc_text {
    height: 30px;
    display: flex;
    margin-left: 5px;
}

.card_side_bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
}

.card_side_bottom a {
    margin-right: 10px;
    margin-left: 10px;
}


.filter_container {
    flex: 1;
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter_container_open {
    display: block !important;
    margin-right: 10px;
    margin-left: 10px;
}

.toggle_button_group {
    display: flex;
    justify-content: center;
}

.toggle_button_group:not(:last-child) {
    border-right: none; 
}

.toggle_button_group button:last-child {
    border-radius: 0px 30px 30px 0px !important;
}

.toggle_button_group button:first-child {
    border-radius: 30px 0px 0px 30px !important;
}

.toggle_button_group:after {
    content: "";
    clear: both;
    display: table;
  }

.toggle_button_group button {
    flex: 1;
    background-color: transparent; 
    color: white; 
    padding: 10px 20px;
    cursor: pointer;
    float: left; 
    border: none;
    font-size: 0.9em;

    border: 2px solid white;
}

.toggle_button_group button:hover {
    background-color: #BF2326;
    border: 2px solid #BF2326;
}

.toggle_bnt_active{
    background-color: white !important;
    color: black !important;
    cursor: auto !important;
    border: 2px solid white !important;
}

.filter_select {
    width: 100%;
    margin-top: 10px;
}

.filter_select select {
    font-size: 0.9em;
    width: 100%;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    height: 40px;
    text-align: center;
    text-align-last: center;
    padding: 10px 0;
}

.filter_select select:hover {
    background-color: #BF2326;
    border-color: #BF2326;
}


.filter_submit_btn {
    flex: 1;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 10px;
    font-size: 0.9em;
}

.filter_submit_btn:hover {
    background-color: #BF2326;
    border-color: #BF2326;
}

.modal_container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #242526cc;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal_close_area {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.modal {
    min-width: 400px;
    max-width: 90vw;
    background-color: #36393b;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.modal input {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 1em;
}

.modal_close_icon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.modal_ok {
    border-color: rgb(0, 128, 0);
}

.modal_ok:hover {
    background-color: rgb(0, 128, 0);
    border-color: rgb(0, 128, 0);
}

.modal_delete {
    border-color: #BF2326;
}
